# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.PPzD-3D-6.iml
/projectSettingsUpdater.xml
/modules.xml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../../:\Pobieranie\Reafacto\PPzD-3D-6\.idea\.idea.PPzD-3D-6\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
